body {
  background: #021737;
  height: 100vh;
  overflow: hidden;
}
.page {
  height: 100vh;
  width: 100%;
  position: absolute;
  overflow-x: scroll;
  padding-top: 40px;
}
.card {
  background: #044174;
}
